* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.fr {
  float: right;
}

.m5 {
  margin: 5px;
}

.mr20 {
  margin-right: 10px;
}

.mt20 {
  margin-top: 20px;
}

.tag {
  cursor: pointer;
}

.el-loading-mask{
  background: rgba(238,238,238,.5);
}
